{% extends 'home/base.html' %}


{% block title %}
Home
{% endblock %}


{% block content %}

<h1>Welcome to RentEase BD</h1>

<p>Find your perfect rental place</p>


{% for property in properties %}

<div class="property-card">

    <img src="{{ property.image.url }}" width="300">

    <h2>{{ property.title }}</h2>

    <p><b>Location:</b> {{ property.location }}</p>

    <p><b>Rent:</b> {{ property.rent }} BDT</p>

    <p>{{ property.description }}</p>

</div>

<hr>

{% endfor %}


{% endblock %}